#ch{
    font-style: italic;
    font-size: 30px;
    margin-left: 38%;
    margin-top: 17%;
    width: 200px;
    padding: 2%;
    border-radius: 20px;
    border-style:none;
    border: px;
    cursor:pointer;
    
}
#ch:hover{
  background-color: lightblue;
}
#num{
    font-style: italic;
    font-size: 40px;
    margin-left: 25%;
    margin-top: 10%;
    width: 120px;
    padding: 1%;
    border-radius: 30px;
    border-style:none;
    border: px;
}
#num1{
  font-style: italic;
  font-size: 40px;
  margin-left: 25%;
  margin-top: 10%;
  width: 120px;
  padding: 1%;
  border-radius: 30px;
  border-style:none;
  border: px;
}
#para{
  font-style: italic;
  font-size: 30px;
  margin-left: 50%;
  margin-top: 1%;
  width: 100px;
  padding: 2%;

}
#par{
  font-style: italic;
  font-size: 40px;
  margin-left: 38%;
  margin-top: 15%;
  
 
  
}