#ul{
    
    margin-top: 45px;
    padding: 20px;
    list-style-type: none;
    font-size: larger;
}
li{
    padding: 8px;
    background-color: aquamarine;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
    margin-left: 500px;

}
li:hover{
    width: 280px;
    margin-left: 485px;

}
#btn{
    margin-top: -40px;
    margin-left: 750px;
    font-size: 26px;
    width: 100px;
    border-radius: 12px;
    box-shadow: 50px;
 
    border: none;
    padding: 5px;
    font-style: italic;
}
#btn:hover{
    cursor: pointer;
    background-color:cadetblue;
    width: 110px;
    margin-left: 745px;


}
#inp{
    margin-top: 100px;
    margin-left: 500px;
    font-size: 18px;
    width: 200px ;
    padding: 6px;


}
#inp:hover{
    cursor: pointer;
    width: 220px;
    margin-left: 490;


}