#but{
font-size: 40px;
font-style: italic;
text-align: center;
margin-top: 40%;
margin-left: 45%;
border-radius: 25px;
border-style: none;
padding: 2%;

}
#but:hover{
    background-color:cadetblue;
    cursor: pointer;
}
