#btn{
    width: 200px;
    border-radius: 80px;
    border: none;
    margin-left:45%;
    margin-top: 45%;
    margin-bottom: 5%;
    font-size: 50px;
    text-align: center;
    font-style: italic;


}
#btn:hover{
    cursor: pointer;
    background-color: beige;
}
.head{
    margin-left:40%;
    font-size: 45px;

}
.headNew{
    margin-left:32%;
    font-size: 65px;
}
