#btn{
    border: none;
    border-radius: 20px;
    font-size: 30px;
    padding: 1%;
    width: 20%;
    margin-top: 40%;
    margin-left: 45%;
    font-style: italic;
    font-weight: 159px;
}
#btn:hover{
    cursor: pointer;
    background-color:ghostwhite;
}
#div{
    font-size: 40px;
    margin-left: 51%;
    margin-top: 2%;
    font-style:normal;
    font-weight: 200px;
}